body {
    margin: 0;
    font-family: sans-serif;
}

/* 上の青い部分 */
.header {
    background: #355f7a;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.header p {
    margin: 20px 0;
    line-height: 1.8;
}

p {
    font-size: 20px;
    line-height: 1.8;
}

/*ページ下の余白*/
body {
    margin: 0;
    padding-bottom: 120px;
}

/* ボタン */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

/* 緑の帯 */
.section-title {
    background: #3aa6a0;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 28px;
}

body {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}